<div class="bs-social-entity-wrapper">
	<div class="bs-social-entity-title">
		<h3>{{{title}}}</h3>
	</div>
	<div class="bs-social-entity-userimage">
		{{{userimage}}}
	</div>
	<div class="bs-social-entity-right">
		{{{entityactions}}}
		<div class="bs-social-entity-beforecontent">
			{{{beforecontent}}}
		</div>
		<div class="bs-social-entity-content">
			<div class="bs-social-entity-profilefields">
				{{{profilefields}}}
				{{{profilecustomfields}}}
			</div>
			{{{content}}}
		</div>
		<div class="bs-social-entity-aftercontent">
			{{{aftercontent}}}
			<span>{{{timestampcreated}}}</span>
		</div>
	</div>
</div>
<div class="bs-social-entitylist-children">
	{{{beforechildren}}}
	{{{children}}}
	{{{afterchildren}}}
</div>
