<div class="bs-social-entity-wrapper">
	<div class="bs-social-entity-beforecontent">
		{{{beforecontent}}}
	</div>

	<div class="bs-social-entity-profileleftcolumn">
		<div class="bs-social-entity-profilefields">

			<div class="bs-social-entity-profileimage">
				{{{userimage}}}
			</div>
			{{{entityactions}}}
			<div class="bs-social-entity-content">
				{{{content}}}
			</div>

			<div class="bs-social-profile-info">
				<div class="bs-social-profile-fields">
					{{{profilefields}}}
					{{{profilecustomfields}}}
				</div>
			</div>
			<div class="clearfix"><!-- --></div>
		</div>
		<div class="bs-social-entity-profilebasetitlecontent">
			{{{basetitlecontent}}}
		</div>
		<div class="bs-social-entitylist-children bs-social-entitylist-profile-children">
			{{{beforechildren}}}
			{{{children}}}
			{{{afterchildren}}}
		</div>
	</div>
	<div class="clearfix"></div>
	<div class="bs-social-entity-aftercontent">
		{{{aftercontent}}}
	</div>
</div>
